header {
    position: fixed;
    z-index: 99;
    background-color: black;

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;

        .navbar-item {
            cursor: pointer;
            font-weight: 800;
            color: aliceblue;
            
                a {
                    color: aliceblue;
                    transition: all 0.1s ease;
                }
            
                a:hover {
                    color: #fab005;
                    text-decoration: underline;
                }
        }
    }

    .content-desktop {
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding-top: 0.6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .content-mobile {
        .burger-button {
            float: right;
            padding: 1rem;
        }
    }

    /* Responsive header */
    @media only screen and (min-width: 769px) {
        .content-desktop {
            display: flex;
            
        }

        .content-mobile {
            display: none;
            
        }

        // top: 60px;
        left: 0;
        right: 0;
        height: 4rem;
        align-items: center;
        
    }

    @media only screen and (max-width: 768px) {
        .content-desktop {
            display: none;
        }

        .content-mobile {
            display: block;
            padding-left: 2rem;
            padding-right: 2rem;

        }

        // top: 30px;
        height: 4rem;
        left: 0;
        right: 0;
    }
}

.menu {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    gap: 30px;

    .menu-items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .menu-item {}
    }
}